
<page size="A4">
	<div id='edit' class="edit" style="margin-top: 30px;">
		<h1>Core Features</h1>
		<p>In this example the editor contains only core features. These are builtin functionalities of the editor, with no additional plugins.</p>
	</div>
	<div id='edit2' class="edit" style="margin-top: 30px;">
		<h1>Core Features</h1>
		<p>In this example the editor contains only core features. These are builtin functionalities of the editor, with no additional plugins.</p>
	</div>
</page>
<page size="A4"></page>